.gitignore
OldStuff
__pycache__
data.csv
.pytest_cache
.vscode
.poetry.lock
pyproject.toml
.vscode/settings.json
venv
test.py
levelVals.txt
data.csv
node_modules
package*
plans

data.db

.history
.idea
venv
.github
data.csv
Pipfile.lock
.vsls.json
